@import url("./1-root.css");

.item-number {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-red-3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito";
    box-shadow: var(--box-shadow-1);
    color: white;
    /* border: 2px solid chartreuse; */
  }